@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap');

:root {
    --bg-color: #000;
    --accent-colour: #66fcf1;
    --dot-color: rgba(255, 255, 255, 0.3);
    --section-bg: #000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: var(--accent-colour);
    border-radius: 50%;
    margin-left: 5px;
    vertical-align: top;
    margin-top: 10px;
}

.logo {
    color: #f5f5f7;
    text-decoration: none;
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 700;
    font-size: 1.4rem;
    flex-shrink: 0;
    margin-right: 0;
}

.logo:hover {
    color: #66fcf1;
    text-shadow: 0 0 5px rgba(102, 252, 241, 0.6);
}

.sidebar {
    display: none; 
}

.sidebar i {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}


.nav {
    background-color: rgba(0, 0, 0, 0.8);
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid rgba(255, 255, 233, 0.1);
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);

    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.nav-actions {
    display: flex;
    align-items: center;
    gap: 20px; 
    text-decoration-line: none ;
}


.nav-links {
    display: flex;
    gap: 30px;
    align-items: center;
    height: 100%;
}

.nav-links a {
    color: #d6d6d6;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    white-space: nowrap;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #66fcf1;
    text-shadow: 0 0 5px rgba(102, 252, 241, 0.6);
}


.nav-pill-btn {
    background-color: #0071e3;
    color: white;
    padding: 8px 16px;
    border-radius: 200px;
    text-decoration: none;
    font-size: 13px;
    transition: background-color 0.3s;
    cursor: pointer;
    border: none;
    display: inline-block;
}

.nav-pill-btn:hover {
    color: #66fcf1;
    font-weight: bold;
    text-shadow: 0 0 5px rgba(102, 252, 241, 0.6);
}

.nav-button {
    display: flex;
    align-items: center;
    gap: 20px;
}



.cart-icon-container {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    height: 100%; 
}


.fa-circle {
    color: #d6d6d6;
    transition: color 0.3s;
}

.fa-shopping-cart {
    color: #1d1d1f; 
}


.cart-icon-container:hover .fa-circle {
    color: #0071e3; 
}


.fa-stack {
    position: relative; 
}

.fa-stack[data-count]:after {
    position: absolute;
    top: -5px; 
    right: -8px; 

    content: attr(data-count);
    font-size: 10px; 
    padding: 2px 5px; 
    border-radius: 10px; 

    color: white;
    background: #DF0000; 
    border: 2px solid #1a1a1a; 

    line-height: 1;
    font-weight: bold;
    font-family: sans-serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    min-width: 15px;
    text-align: center;
}


.fa-stack[data-count="0"]:after {
    display: none;
}


.mobile-nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;          
    background: #000;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;              
    z-index: 999;

    transform: translateY(-100%);
    transition: transform 0.4s ease-in-out;
}
.mobile-nav-overlay.active {
    transform: translateY(0);
}

.mobile-nav-overlay a {
    color: white;
    font-size: 1.5rem;
    font-family: 'DotGothic16', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}




.fa-facebook { color: #3b5998; }
.fa-instagram { color: #e1306c; }
.fa-linkedin-square { color: #0077B5; }


@media (max-width: 768px) {

    .desktop-menu {
        display: none;
    }

  
    .nav-actions {
        display: none;
    }

 
    .sidebar {
        display: block;
      
    }
}
